.wrapper

  = render 'shared/chat-side'
  
  .chat-main
    .header
      .header__lett-box
        .header__left-box__current-group
          -# グループ名
          = @group.name
        %ul.header__left-box__member-list
          %pre Member :&nbsp;
          %li.header__left-box__member-list__member
            - @group.users.each do |user|
              = user.name
      .header__right-box
        .header__right-box__button
          Edit 
    .messages
    
      = render @messages
      
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
